.fondo{
    background-color: blueviolet;
}
.fondo2{
    background-color: rgb(47, 12, 80);
}
.fondo3{
    background-color: rgb(116, 80, 150);
}
.fondo4{
    background-color: rgb(94, 12, 170);
}
.redes{
    text-align: right;
}
.foto{
   padding-bottom: 20px;
   padding-left: 15px;
   
}
